Enemy/parameter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="parameters">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="parameter">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" />
										<xs:element name="name" type="xs:string" />
										<xs:element name="value" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>